.main{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media(min-width:1280px){
  .main{
    width: 1024px;
  }
}

.header{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.lista-tarefas{
  width: 100%
}